html,body {
    margin:0;
    background:#000;
  }
  
  /* Bernard Bernoulli: Animación del personaje */
  #bern {
    /* Tamaño de la viñeta individual */
    width:112px;
    height:156px;
    /* Cómo hay establecido un tamaño, centramos con margin:auto */
    margin:auto;  
    /* Cargamos el sprite (el repeat-x se puede omitir, por defecto se repite) */
    background:url(https://i.imgur.com/ifk0SLH.png) repeat-x;
    /* Aplicamos la animación "walk": 0.8seg, 6 viñetas y repetimos infinitamente */
    animation:walk .8s steps(6) infinite;
    /* Posicionamos el personaje sobre el camino de madera */
    position:relative;
    bottom:34px;
  }
  
  /* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
  @keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-672px }
  }
  
  /* Animación del cielo. Efecto "Parallax", va más lento que el mar. */
  #sky {
    background:url(https://i.imgur.com/PhHVjgw.png) repeat-X;
    animation: movebg 9s linear infinite;
  }
  
  /* Animación del mar. */
  #sea {
    background:url(https://i.imgur.com/h75XWy8.png) repeat-x;
    animation: movebg 6s linear infinite;
    /* Posicionamos el mar, para que no solape al cielo */
    position:relative;
    top:145px;
    /* Pequeño degradado interior para suavizar el mar. Puede consumir muchos recursos */
    box-shadow:10px 10px 45px RGBA(0,0,0, 0.85) inset;
  }
  
  /* Animación para mover cielo y mar */
  @keyframes movebg {
    0% { background-position:550px } 
    100% { background-position:0 }
  }
  
  /* OPCIONAL: Guybrush */
  #gb {
    width:104px;
    height:150px;
    background:url(https://i.imgur.com/egTLaCy.png) no-repeat;
    animation:gbwalk 1s steps(6) infinite;
    margin:auto;
    position:relative;
    top:34px;
    /* Ojo, muy costoso en rendimiento */
    /* filter:drop-shadow(5px 5px 5px #000); */
  }
  
  @keyframes gbwalk {
    0% { background-position:0 }
    100% { background-position:-624px }
  }